//Colors 
$white: #FFFFFF;
$black: #000000;

$light-gray: #D3D3D3;
$gray: #7C7C7C;
$dark-gray: #242629;

$light-yellow: #FFFF9A;
$yellow: #FFFF00;
$dark-yellow: #B3B300;

$light-cyan: #B3FFFF;
$cyan: #00FFFF;
$dark-cyan: #00E6E6;

$light-teal: #4DDBDB;
$teal: #008080;
$dark-teal: #006666;

$light-lavender: #BEC7ff;
$lavender: #967BB6;
$dark-lavender: #734E9A;

//Variables

//Fonts
$soft-font: $font-family-soft, 'sans-serif';
$primary-font: $font-family, 'sans-serif';
$heavy-font: $font-family-heavy, 'sans-serif';

//Mixins